Adafruit-GPIO==1.0.3
Adafruit-MCP3008==1.0.2
Adafruit-PureIO==1.1.5
aniso8601==8.0.0
apparmor==2.13.4
appdirs==1.4.3
application-utility==1.3.2
argcomplete==1.11.1
argh==0.26.2
asgiref==3.2.7
asn1crypto==1.3.0
astroid==2.4.1
asyncio==3.4.3
asynco==0.0.5
attrs==19.3.0
backcall==0.1.0
basicauth==0.4.1
bcrypt==3.1.7
beautifulsoup4==4.9.1
boto3==1.13.16
botocore==1.16.16
btrfsutil==1.2.0
CacheControl==0.12.6
cached-property==1.5.1
cchardet==2.1.6
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.0
chardet==3.0.4
Cities==1.1
ckanapi==4.3
click==7.1.2
colorama==0.4.3
colorlog==4.1.0
configparser==5.0.0
construct==2.5.3
contextlib2==0.6.0.post1
coverage==5.1
cryptography==2.9.2
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.0rc1
distlib==0.3.0
distro==1.5.0
dj-database-url==0.5.0
Django==3.0.6
django-admin-display==1.1.0
django-admin-tools==0.9.0
django-appconf==1.0.4
django-classy-tags==1.0.0
django-crispy-forms==1.9.1
django-discover-runner==1.0
django-easy-maps==1.1.0
django-filter==2.2.0
django-floppyforms==1.9.0
django-geojson==3.0.0
django-google-maps==0.12.1
django-leaflet==0.27.0.dev0
django-location-field==2.1.0
django-utils==0.0.2
djangorestframework==3.11.0
dnspython==1.16.0
docker==4.2.0
docker-compose==1.25.5
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
dramatiq==1.8.1
email-validator==1.1.1
et-xmlfile==1.0.1
filelock==3.0.12
flake8==3.8.2
Flask==1.1.2
flask-googlemaps==0.4.0
Flask-RESTful==0.3.8
future==0.18.2
geographiclib==1.50
geopy==1.22.0
gevent==20.5.1
googlemaps==4.4.0
greenlet==0.4.15
guizero==1.1.0
haystack==0.42
hdx-python-api==4.5.8
hdx-python-country==2.5.6
hdx-python-utilities==2.3.4
html5lib==1.0.1
idna==2.9
ijson==3.0.4
importlib-metadata==1.5.2
inflect==4.1.0
ipython==7.14.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
jsonfield==3.1.0
jsonlines==1.2.0
jsonpath-ng==1.5.1
jsonschema==3.2.0
keyutils==0.6
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
LibAppArmor==2.13.4
libhxl==4.20
linear-tsv==1.1.0
louis==3.13.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
msgpack==1.0.0
mysql-connector==2.2.9
mysqlclient==1.4.6
ndg-httpsclient==0.5.1
netifaces==0.10.9
nox==2019.11.9
npyscreen==4.10.5
num2words==0.5.10
numpy==1.18.4
oauthlib==3.1.0
openpyxl==3.0.3
ordered-set==3.1.1
packaging==20.3
pacman-mirrors==4.16.4
pandas==1.0.3
paramiko==2.7.1
parso==0.7.0
pathtools==0.1.2
pefile==2019.4.18
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
ply==3.11
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psycopg2==2.8.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pwquality==1.4.2
py==1.8.1
pyaml==20.4.0
pyasn1==0.4.8
pycairo==1.19.1
pycodestyle==2.6.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.5
pyflakes==2.2.0
Pygments==2.6.1
PyGObject==3.36.1
PyJWT==1.7.1
pylint==2.5.2
PyMySQL==0.9.3
PyNaCl==1.3.0
pynput==1.6.8
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPrind==2.11.2
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyrsistent==0.16.0
pysmbc==1.0.20
python-dateutil==2.8.1
python-io-wrapper==0.1
python-libtorrent==1.2.6
python-ptrace==0.9.5
python-slugify==4.0.0
python-social-auth==0.3.6
python-xlib==0.27
python3-openid==3.1.0
pytoml==0.1.21
pytz==2020.1
PyYAML==5.3.1
qrcode==6.1
quantulum3==0.7.3
rados==2.0.0
ratelimit==2.2.1
rbd==2.0.0
redis==3.5.2
reportlab==3.5.42
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rgw==2.0.0
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
sip==4.19.22
six==1.14.0
sklearn==0.0
smopy==0.0.7
social-auth-core==3.3.3
soupsieve==2.0.1
South==1.0.2
spidev==3.4
SQLAlchemy==1.3.16
sqlparse==0.3.1
sshtunnel==0.1.5
tabulator==1.48.0
team==1.0
text-unidecode==1.3
texttable==1.6.2
toml==0.10.0
traitlets==4.3.3
udiskie==2.2.0
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.9
userprofile==0.2.5
virtualenv==20.0.20
watchdog==0.8.3
watchdog-gevent==0.1.0
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==1.2.0
yamlloader==0.5.5
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
